//COLORES

$color-rosa: #E8C3D4;
$color-rosa-fuerte: #e068a0;
$color-negro: #222222;
$color-blanco: white;
$color-rosa-modo-dark: #fce1f0;
$color-rosa-fuerte-modo-dark: #fcaff0;

$color-rosa-transparente: rgba(194, 165, 187, 0.9);
$color-blanco-transparente: rgba(255, 255, 255, 0.6);

//SOMBRAS
$sombra-menu: 0rem .2rem .25rem rgb(54, 54, 54);
$sombra-items: 0 .1rem .25rem rgb(54, 54, 54);
$sombra-footer: -.5rem 0 1rem rgb(54, 54, 54);